---
import Layout from '../layouts/BlogPost.astro';
import AboutImage from '../assets/u_need_smth.jpg'
---

<Layout
  title="Где я?"
  heroImage={AboutImage}
  description="О проекте OpenKEGE Articles"
  pubDate={new Date('2026-05-16')}
>
  <p>
    Это база знаний по ЕГЭ по информатике. Здесь я собираю разборы задач,
    заметки про Python и шпаргалки к экзамену.
  </p>

  <p>
    Связаться можно через <a href="https://t.me/openkege">Telegram</a>.
  </p>
</Layout>