---
import Layout from '../layouts/BlogPost.astro';
import AboutImage from '../assets/u_need_smth.jpg'
---

<Layout
  title="Где я?"
  heroImage={AboutImage}
  description="О проекте OpenKEGE Articles"
  pubDate={new Date('2026-05-16')}
  showMeta={false}
>
  <p>
    Меня зовут Ивахненко Николай и мне нравится преподовать информатику,
    делаю это 4 года и хочу продолжать это делать.
  </p>

  <p>
    Если вы нашли баг, и думаете: "баг это или фича?", то лучше <a href="https://t.me/openkege" target="_blank">напишите мне</a>, спросите.
  </p>
</Layout>